#gBar{
    background-color: #C8C4C3;
}
img{
    position: relative;
    left: 10px;
}
.nav-item{
    position: relative;
    left: 20px;
}
.nav-link, h5, label{
    color: black;
    font-weight: bold;
    font-family:"Times New Roman";
    font-size: 19px;
}
#btnLog{
    position: relative;
    right: 20px;
    font-weight: bold;
    font-family:"Times New Roman";
    font-size: 16px;
}
.modal-content{
    position: relative;
    top: 55px;
    border-style:groove; 
    border-style: inset;
}
.modal-header, .modal-footer{    
    background-color: #E7E0DE;
}
.carousel-inner {
    background: #4e3b31;
}
#imgCarousel{
    margin: auto;
    height: 87vh;
}
.container{
    font-weight: bold;
    font-family:"Times New Roman";
    font-size: 16px;
}

.jumbotron{
    background-color: rgba(169, 169, 169, 0.575);
    width: auto;
    min-height: 110vh;
}

.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.content-select{
	max-width: 250px;
	position: relative;
}
 
.content-select select{
	display: inline-block;
	width: 80%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
    color: black;
    font-weight: bold;
    font-family:"Times New Roman";
    font-size: 16px;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    top: 2vh;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: #bbc1c2;
}

#btnB{
    position: relative;
    top: -4vh;
    left: 15vw;
    font-weight: bold;
    font-family:"Times New Roman";
    font-size: 16px;
}
#btnR{
    position: relative;
    top: -4vh;
    left: 16vw;
    font-weight: bold;
    font-family:"Times New Roman";
    font-size: 16px;
}
#l2{
    position: relative;
    top: -12vh;
    left: 40vw;
}
#btnGen{
    position: relative;
    top: 0vh;
    left: 1vw;
    font-weight: bold;
    font-family:"Times New Roman";
    font-size: 16px;
}
.col{
    width: 50%;
}
.card-body{
    background-color: transparent;
    width: 100%;
    border: 1px solid darken(#000000, 50%);
    border-radius: 5px;    
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
}
table{
    border: 1px solid darken(#000000, 50%);
    border-radius: 10px;    
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    margin: 4vh auto;
    overflow: hidden;
    width: 400px;
}
td, th { 
    color: darken(#b3b3b3, 5%);
    padding: 10px; 
    text-align: center;
}
