.footer {
    position: relative;
    top: -8vh;
    height: 38vh;
    width: auto;
    background-color: #C8C4C3;
}
.navbar{
    position: relative;
    top: 2vh;
    left: 4vw;
    font-weight: bold;
    font-family:"Times New Roman";
    font-size: 16px;
    width: 90%;
}
a{
    color: black;
}

#infoContacto{
    width: 40%;
    position: relative;
    top: 4vh;
    left: 4vw;
    color: black;
    font-weight: bold;
    font-family:"Times New Roman";
    font-size: 18px;
}
.Rsociales{
    width: 40%;
}
#mg1{
    position: relative;
    top: 8vh;
    left: 12vw;
}
#mg2{
    position: relative;
    top: 8vh;
    left: 5vw;
}
.Socios{
    width: 38%;
    position: relative;
    top: -16vh;
    left: 50vw;
}