<footer class="footer">
    <div id="footer-sup">
     <nav class="navbar">
         <a class="navbar-brand">
           <img src="../../assets/Logo_B.PNG" width="40" height="40" class="d-inline-block align-top">
           BiblioteK
         </a>
       </nav>
    </div>
    <div id="infoContacto">
        <span class="direcc">Dirección: Guatemala Guatemala</span><br>
        <span class="email">Email: biblioteK@gmail.edu</span><br>
        <span class="telfono">Teléfono: +502 1378952</span><br>
    </div>
    <div class="Rsociales">
        <img id="mg1" src="../../assets/twitterLog.png" width="30" height="30">
        <img id="mg2" src="../../assets/faceLog.png" width="30" height="30">
    </div>
    <div class="Socios">
     <img id="mg3" src="../../assets/encyclopedia.png" width="150" height="150">
     <img id="mg4" src="../../assets/everipedia.png" width="150" height="120">
     <img id="mg4" src="../../assets/logos_enciclopedia.png" width="150" height="150">
 </div>
 </footer>