<nav id= gBar class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" >
      <img src="../../assets/Logo_B_Bar.png" width="60" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link disabled" routerLinkActive="active" routerLink="/presentacion">Presentación</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link disabled" routerLinkActive="active" routerLink="/estadisticas">Estadísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLinkActive="active" routerLink="/acercaDe">Acerca de</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Consultas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/user/search">Busqueda Libro/Revista</a>
            <a class="dropdown-item" href="/user/giveBack">Devolver Libro/Revista</a>
            <a class="dropdown-item" href="/user/loanHistory">Historial de Libro/Revista</a>
            <a class="dropdown-item" href="/user/profile">Perfil</a>
            <a class="dropdown-item" href="/user/loan">Préstamos Libro/Revista</a>
          </div>
        </li>
      </ul>
    </div>
    <button id="btnLog" type="button" class="btn btn-outline-dark"data-target="#staticBackdrop" routerLink="/presentacion">Cerrar Sesión</button>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Perfil</h1>
      <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#Modalsee" (click)= "Bperfil()">Ver</button>
        
      <div class="modal fade" id="Modalsee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content"> 
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mostrar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label>Carnet/CUI</label>
                    <input type="text" [(ngModel)]="selectedUser.cui" name="codigo" class="form-control" disabled>
                  </div>
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" [(ngModel)]="selectedUser.nombre" name="nombre" class="form-control" disabled>
                  </div>
                  <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" [(ngModel)]="selectedUser.apellido"  name="apellido" class="form-control" disabled>
                  </div>
                  <div class="form-group">
                    <label>Rol</label>
                    <input type="text" [(ngModel)]="selectedUser.rol" name="rol" class="form-control" disabled>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" [(ngModel)]="selectedUser.password" name="password" class="form-control" disabled>
                  </div>
                </form>
              </div>
            </div>
          </div>

      </div>
    </div>
</div>