<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Historia</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Misión</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Visión</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p><br>
            La BiblioteK, fundada en 2020, posee una gran colaboración de grandes enciclopedias, manuscritos
            e impresos de inestimable valor científico, bibliográfico y documental que abarcan desde la alta Edad Media hasta 
            nuestros días, indispensables para el estudio  investigación de la historia del mundo.

            BiblioteK tiene a su cargo la conservacion y descripción de valiosísimos patrimonios que facilitan su consulta a todos los 
            investigadores, con tan solo un click. 
            
            Aviso importante: Las obras incluidas en esta Biblioteca Digital pueden consultarse libremente. Pero se necesita autorización 
            del administradir para realizar consultas de todo el material publicado tanto si se va a hacer uso comercial de ellas como 
            si es otra la finalidad. En ningún caso se puede modificar el objeto digital original
          </p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <p><br>
            BiblioteK tiene como misión gestionar un entorno de información en continua evolución para contribuir al aprendizaje, 
            la investigación y la innovación en la actualidad, mediante estrategias y servicios de excelencia, de forma sostenible y 
            socialmente responsable, que promuevan la generación y transferencia del conocimiento.
          </p>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <br>  Establecer estrategias y servicios de calidad centrados en la comunidad universitaria y la sociedad, mediante:<br>
            <ol type="i"> 
              <li>Creación de espacios versátiles para el estudio y el trabajo individual o en grupo.</li>
              <li>Gestión, preservación y acceso eficaz de las colecciones y de la producción científica y académica de la US.</li>
              <li>Servicios innovadores que apoyen a los estudiantes en su formación integral y a los profesores e investigadores. 
              en todo el proceso de creación del conocimiento</li>
              <li>Una gestión excelente con profesionales proactivos y competentes.</li>
              <li>Alianzas para progresar y promover el compromiso social y la sostenibilidad.</li>
            </ol>
        </div>
      </div>
    </div>
  </div>
