<app-navigation-bar></app-navigation-bar>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <table border="1">
            <tr>
              <th>
                <h2>Sobre mí</h2>
                <br>
                  <p>
                Me llamo Miguel Estuardo Aquino, estoy cerrando mis estudios de nivel medio, en el área de Perito en Informática, tengo 19 años, me  apasiona la tecnología y el desarrollo web.
                Aunque tambien me apasiona el proteger y servir por lo que brindaré mi servicio al CBV.<br>
                <br>Tengo 6 meses de experiencia (prácticas), he estado en diferentes áreas como IT, desarrollador web y testing, además de realizar diferentes proyectos escolares.
                Mi objetivo es unir todas mis habilidades y por medio de la programación crear algo que ayude a la humanidad.
                <br><br>
                "Mi motivación principal es convertirme en una gran persona tanto en el área profesional como personal, por lo que nunca dejaré de aprender, ni de ayudar a quien lo requiera."
                 </p>
                </th>
                <th>
                    <img src="../../assets/yo.jpg" width="612">
                </th>
            </tr>
          </table>
    </div>
  </div>
